    h1 {
      Text-align: center;
    }
    h1 {
      color: white;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    a{
      color: yellow;
    }
    img {
      display: block;
    }
    h3 {
      color: white
    }
